@{
    Layout = null;
}
@model ShopOnline.Models.MesssageModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @Model.Welcome
    </div>
</body>
</html>
