@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/Assets/files/logo1.png">
    <title>FDC-Quản Lý Tài Sản / Thiết Bị</title>
    <!-- Bootstrap Core CSS -->
    <link href="/Assets/admin/bootstrap-select/dist/css/bootstrap-select.css" rel="stylesheet">
    <!-- Bootstrap Core CSS -->
    <link href="/Assets/admin/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="/Assets/admin/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/Assets/admin/dist/css/sb-admin-2.css" rel="stylesheet">
    <!-- Morris Charts CSS -->
    <link href="/Assets/admin/vendor/morrisjs/morris.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="/Assets/admin/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script src="~/Scripts/jquery-1.8.3"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script> 
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    @RenderBody()
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="/Assets/admin/vendor/jquery/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/Assets/admin/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="/Assets/admin/vendor/metisMenu/metisMenu.min.js"></script>
    <!-- Morris Charts JavaScript -->
    <script src="/Assets/admin/vendor/raphael/raphael.min.js"></script>
    <script src="/Assets/admin/vendor/morrisjs/morris.min.js"></script>
    <script src="/Assets/admin/data/morris-data.js"></script>
    <!-- DataTables JavaScript -->
    <script src="/Assets/admin/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="/Assets/admin/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="/Assets/admin/vendor/datatables-responsive/dataTables.responsive.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="/Assets/admin/dist/js/sb-admin-2.js"></script>
    <script src="/Assets/admin/bootstrap-select/dist/js/bootstrap-select.js"></script>
    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
        $(document).ready(function () {
            $('#dataTables-example').DataTable({
                responsive: true
            });
        });
    </script>
</body>
</html>
