<div class="navbar-default">
    <div class="navbar-default menu-bar-top"></div>
    <div class="navbar-default menu-bar-bot-3"><b>QUẢN LÝ TRANG THIẾT BỊ VĂN PHÒNG</b></div>
    <div class="navbar-default menu-bar-bot-2"></div>
    <div class="navbar-default menu-bar-bot"></div>
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="menu">
                <li>
                    <a class="Menulevel1" style="background-color: #07347E;" href=""><i class="fa fa-dashboard fa-fw"></i> <b>QUẢN LÝ THÔNG TIN</b> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a class="Menulevel2" style="background-color: #F7F6FB; " href="~/Thiet_Bi/Index"><p class="fa fa-angle-double-right"></p> <b>Danh Sách Thiết Bị</b> </a>
                        </li>
                        <li>
                            <a class="Menulevel2" style="background-color: #F7F6FB; " href="~/Thiet_Bi/Index_2"><p class="fa fa-angle-double-right"></p> <b>Xuất Thẻ Thiết Bị</b></a>
                        </li>
                        <li>
                            <a class="Menulevel2" style="background-color: #F7F6FB; " href="~/CS_tbPhong_Ban/Index"><p class="fa fa-angle-double-right"></p> <b>Danh Sách Phòng Ban</b></a>
                        </li>
                        <li>
                            <a class="Menulevel2" style="background-color: #F7F6FB; " href="~/CS_tbViTri/Index"><p class="fa fa-angle-double-right"></p> <b>Danh Sách Vị Trí</b></a>
                        </li>
                        <li>
                            <a class="Menulevel2" style="background-color: #F7F6FB; " href="~/Code_Group/Index"><p class="fa fa-angle-double-right"></p> <b>Mã Group Thiết Bị</b></a>
                        </li>
                        <li>
                            <a class="Menulevel2" style="background-color: #F7F6FB; " href="~/Code_Equip/Index"><p class="fa fa-angle-double-right"></p> <b>Mã Thiết Bị Chi Tiết</b></a>
                        </li>
                    </ul>
                </li>
                
                <li>
                    <a class="Menulevel1" style="background-color: #07347E;" href=""><i class="fa fa-bar-chart-o fa-fw"></i><b> KIỂM KÊ TÀI SẢN ĐỊNH KỲ</b><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a class="Menulevel2" style="background-color: #F7F6FB;" href="~/CS_tbWorkCount/Index"><p class="fa fa-angle-double-right"></p> <b>Tạo Kỳ Kiểm Kê Tài Sản</b></a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                
            </ul>
        </div>
    </div>
    <!-- /.sidebar-collapse -->
</div>